*{
    box-sizing: border-box;
}
img
{
    max-width: 100%;
}
body{
    background-color: #202020;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container{
    width: 90%;
    max-width: 945px;
    margin: auto;
}
.section{
    padding-top: 64px;
}
.section-title{
    margin: 0;
    margin-bottom: 84px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.mastep{
    padding-top: 50px;
    background: linear-gradient(1.16deg, #000000 1.01%, rgba(0, 0, 0, 0) 94.55%);
    padding-bottom: 155px;
}
.mastep-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.mastep-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switcher a
{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.switcher a:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: #FFBB01;
}
.social-links:hover 
{
    color: #FFBB01;
}
.social-link{
    margin-left: 20px;
}
.social-link:first-child{
    margin-left: 0;
}
.mastep-subtitle{
    font-size: 24px;
    line-height: 20px;
    color: goldenrod;
    margin-bottom: 14px;
}
.mastep-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0 px;
    margin-bottom: 20px;
}
.mastep-description{
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}
.button{
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.mastep-avatar{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    background-image: url('../img/s.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid yellow;
}
/* features */
.features{
    background-color: #000000;
}
.features-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-item{
    flex-basis: 30%;
    margin-bottom: 63px;
}
.features-image{
    display: block;
    margin-bottom: 22px;
}
.features-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}
.features-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
/* projects*/
.projects{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
    
}
.projects-slide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.project-text{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}
.project-title{
    flex-basis: 100%;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 41px;
}
.project-time, .project-cost{
    flex-basis: 50%;
    margin-bottom: 44px;
}
.project-time, .project-cost, .project-feedback{
    display: flex;
    align-items: flex-start;
}
.project-subtitle{
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.project-paragraph{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    }
.project-icon{
        margin-right: 16px;
    }
.projects-pagination{
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 44px;
    }
.projects-bullet{
        width: 10px;
        height: 10px;
        border: 2px solid #FFBB01;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }
.projects-bullet-active{
        background-color: #FFBB01;
    }
/*contacts*/
.contacts-form{
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 48px 48px 49px;
}
.form-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
}
.input{
    background: #F8F8F8;
    border: none;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}
.input-name{
    margin-bottom: 17px;
    background-image: url(../img/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.input-phone{
    margin-bottom: 17px;
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.form-button{
    width: 100%;
}
.contacts-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.contacts-text{
    flex-basis: 50%;
}
.contacts-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}
.contacts-phone, .contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;
}
.contacts-social{
    flex-basis: 100%;
}
.contacts-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}
.contacts-link{
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
}
.contacts-link:hover{
    text-decoration: underline;
    color: #FFBB01;
}
.contacts-policy{
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #A5A5A5;
    margin-top: 72px;
    margin-right: 50px;
}
.contacts-policy:hover
{
    text-decoration: underline;
}
.alexstudio
{
    color: #A5A5A5;
    text-decoration: none;
}
.power
{
    position: relative;
    color: #222;
}
.power::before
{
    content:attr(data-text);
    position: absolute;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
.alexstudio > .alex
{
    color: #045CBB;
}
.alexstudio > .studio 
{
    color: #FFC41D;
}
.copyright
{
    text-align: center;
}
/* responsive*/
@media (max-width: 836px) {
    .mastep-content 
    {
        flex-direction: column;
    }
    .mastep-avatar
    {
        order: 0;
        margin-bottom: 17px;
    }
    .mastep-text
    {
        order: 1;
        text-align: center;
    }
    .mastep-description 
    {
       margin: auto;
       margin-bottom: 25px;
    }

    .features-item 
    {
        flex-basis: 45%;
    }
    .projects-slide
    {
        flex-direction: column;
    }
    .project-image
    {
        margin-bottom: 46px;
    }
    .contacts-block
    {
        align-items: flex-start;
        flex-direction: column;
    }
    .contacts-form
    {
        margin-bottom: 58px;
    }
    .contacts-link 
    {
        display: block;
    }
    
}
@media (max-width: 564px) 
{
    .mastep
    {
        padding-bottom: 75px;
    }
    .mastep-header
    {
        margin-bottom: 38px;
    }
    .social-link
    {
        margin-left: 5px;
    }
    .mastep-title
    {
        font-size: 24px;
        line-height: 1.2;
    }
    .mastep-subtitle
    {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 5px;
    }
    .mastep-description
    {
        font-size: 14px;
        line-height: 1.4;
    }
    .section
    {
        padding-top: 60px 0;
    }
    .section-title
    {
        font-size: 19px;
        line-height: 1.15;
        margin-bottom: 60px;
    }
    .features-item
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .features-title 
    {
        font-size: 18px;
        line-height: 1.5;
    }
    .features-text 
    {
        font-size: 14px;
        line-height: 2;
    }
    .project-title
    {
        font-style: 18px;
        line-height: 1.5;
    }
    .project-time, .project-cost, .project-feedback
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .project-paragraph
    {
        font-size: 14px;
    }
    .contacts-form
    {
        padding: 40px 19px;
    }
    .form-title
    {
        font-size: 15px;
        line-height: 1.4;
    }
    .form-button
    {
        font-size: 10px;
    }
    .contacts-phone, .contacts-mail 
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contacts-title 
    {
        font-size: 18px;
        line-height: 1.2;
    }
    .contacts-link
    {
        font-size: 14px;
        line-height: 1.14;
        display: block;
        margin-bottom: 13px;
    }
}